name: Build Only

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'help/**'
      - '**/build-site.yml'     

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-2022

    env:
      Solution_Name: Razor.sln       

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: NuGet Restore (packages.config)
      run: nuget restore $env:Solution_Name

    # msbuild /t:Restore is not reliable for packages.config projects in CI;
    # nuget restore above is the supported path here.

    - name: Build Razor
      run: msbuild $env:Solution_Name /t:Build /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}


